*{padding:0;margin:0;}
a{text-decoration:none;}
ul,li{list-style:none;}
.box{width:700px;margin:20px auto;}
.box_l,.box_r{width:260px;height:240px;border:1px solid #ccc;overflow: auto;}
.box_l  li,.box_r li{line-height:30px;font-size:14px;padding-left:10px;border-bottom:1px solid #CCCCCC;cursor:pointer; list-style: none}
.box_l li:last-child,.box_r li:last-child{border:none;}
.box_l li:hover,.box_r li:hover,.box_l li.on,.box_r li.on{background:#3672a0;color:#FFFFFF;}
.box_l{float:left;}
.box_m{width:60px;float:left;text-align:center;}
.box_m a{padding:5px 10px;background:#fff;border:1px solid #ccc;margin:40px auto;display:block;width:40px;}
.box_r{float:right;}

.box_2{width:700px;margin:20px auto;}
.box_l_2,.box_r_2{width:260px;height:240px;border:1px solid #ccc;overflow: auto;}
.box_l_2  li,.box_r_2 li{line-height:30px;font-size:14px;padding-left:10px;border-bottom:1px solid #CCCCCC;cursor:pointer; list-style: none}
.box_l_2 li:last-child,.box_r_2 li:last-child{border:none;}
.box_l_2 li:hover,.box_r_2 li:hover,.box_l_2 li.on,.box_r_2 li.on{background:#3672a0;color:#FFFFFF;}
.box_l_2{float:left;}
.box_m_2{width:60px;float:left;text-align:center;}
.box_m_2 a{padding:5px 10px;background:#fff;border:1px solid #ccc;margin:40px auto;display:block;width:40px;}
.box_r{float:right;}